.heading{
    border: 3.5px groove;
    border-radius: 10px;
    border-color: rgb(118, 143, 255);
    padding: 10px;
    justify-content: center;
    background-color: #007fe4;
    color: rgb(255, 255, 255);
}

.body_background {
    color: black;
    height: 100%;
    background-color: #e1e1e1;
    padding-bottom: 5px;
}