.mainDiv {
    background-color: #f3f2f7;
    min-height: 100vh;
    padding-bottom: 30px;
  }
  
  .workSpace {
    margin: auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #f3f2f7;
  }
  
  .daySection {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05); */
    transition: transform 0.2s ease;
  }
  
  .daySection.content:hover {
    transform: translateY(-4px);
  }
  
  .day {
    font-size: 28px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    /* background-color: rgb(38, 38, 38); */
    padding-bottom: 10px;
    /* border-bottom: 2px solid #ddd;
    margin-bottom: 20px; */
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .dayContent {
    flex: 1 1 300px;
    padding: 15px;
    background: #f3f2f7;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(90, 24, 154, 0.1);
    transition: 0.3s ease;
  }
  
  .dayContent:hover {
    background: #f3f2f7;
    transform: translateY(-5px);
  }