.heading{
    border: 3.5px groove;
    border-radius: 10px;
    border-color: rgb(118, 143, 255);
    padding: 10px;
    justify-content: center;
    background-color: #007fe4;
    color: rgb(255, 255, 255);
}

.body_background {
    color: black;
    min-height: 100vh;
    background-color: rgb(255, 0, 0);
    padding-bottom: 5px;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(154, 154, 154);
}