.LogCard-card{
    background-color: #F5F5F5;
    border-radius: 10px;
    margin-left: 200px;
    margin-right: 200px;
    /* padding: 20px; */
}

.LogCard-heading{
   align-self: center;
   align-content: center;
   padding-left: 30px;
   border-radius: 10px;
    height: 40px;
   background-color: #007FE4;
   color: white;
  
}

.main{
    display: flex;
    flex-direction: row;
    
}

h4{
    display: inline;
    flex-grow: 1;
  flex-basis: 0;
}



.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }