.Login-center{
    margin: auto;
    width: 100%;
    /* border: 3px solid green; */
    text-align: center;
    padding: 10px;
}

*{
    background-color: #F8FAFA;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .Login-label{

    display: inline-block;
    width: 140px;
    text-align: right;
     */
/* } */

div.formDiv{
    padding: 15%;
}

div.heading{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 50px;
    color: black;
}

.form-label {
    font-size: 25px;
    
}

.form-control::placeholder {
    font-size: 20px;  
    opacity: 0;
}

.form-control {
    height: 60px; /* Adjust the height as needed */
    font-size: 16px; /* Optional: Increase font size for better readability */
    color: black;
    
}

Button{
    width: 100%;
    height: 60px;
}

.larger-text-button {
    font-size: 20px; /* Or your preferred size */
  }

div.main{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

div.image{
    margin-top: 40px;
    height: 100vh;
    
}

div.image img{
    max-height: 100%;
}