.Assistant-sendButton{
    border: none;
    border-radius: 20px;
    justify-content: center;
    background-color: white;
    size: 50px;
    margin: 5px;
}

.Assistant-whole{
    /* padding: 10px; */
    position: absolute;
    bottom: 0px;
    margin: 20px;
}

.Assistant-prompt{
    border-radius: 7px;
    /* text-justify: auto; */
}


.Assistant-userCard{
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    max-width: 50%;
    width: 30%;
    right: 0px;
    background-color: rgb( 91, 194, 54);
    color: white;
    float: right;
}


.Assistant-geminiCard{
    border-radius: 10px;
    padding: 5px;
    max-width: 50%;
    width: 30%;
    margin: 10px;
    left: 0px;
    background-color: rgb(0, 120, 254);
    color: white;
    float: left;
}


.chat-container {
    height: 700px; /* Adjust as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
  }


