html,body{
    background-color: rgb(196, 196, 196);
}

.content{
    margin: none;
    padding : 10px;
    color: black;
    background-color: rgb(255, 255, 255);
    text-align: left;
}

.row{
    margin: 0;
    width: 100%;
}